<div class="flex bg-background w-screen h-screen overflow-hidden ">
    <app-menu></app-menu>
    <div class="bg-background flex flex-col items-center h-screen overflow-y-scroll flex-grow">
        <header class="my-3 px-5 flex items-center justify-between text-text w-full">
            <fa-icon [icon]="faGlobe" class="text-2xl"></fa-icon>
            <div class="flex-grow"></div>
            <img src="../../assets/logo.png" class="w-[40px] h-[40px] invert" alt="">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <fa-icon [icon]="faBarsStaggered" class="text-3xl"></fa-icon>
        </header>
        
    </div>
</div>