<div class="flex bg-background w-screen h-screen overflow-hidden ">
    <app-menu></app-menu>
    <div class="bg-background flex flex-col items-center h-screen overflow-y-scroll flex-grow">
        <header class="my-3 px-5 flex items-center justify-between text-text w-full">
            <fa-icon [icon]="faGlobe" class="text-2xl"></fa-icon>
            <div class="flex-grow"></div>
            <img src="../../assets/logo.png" class="w-[35px] h-[35px] invert" alt="">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <fa-icon [icon]="faBarsStaggered" class="text-3xl"></fa-icon>
        </header>
        <main class="max-w-[85vw] w-[550px] flex justify-between text-text mt-5">
            <div class="left flex flex-col gap-1">
                <div class="text-2xl">Tanmay Kumar</div>
                <div class="flex items-center gap-2 mb-2">
                    <span class="text-sm mb-1">unstoppable_tanmay</span>
                    <div
                        class="px-2 rounded-xl flex items-center justify-center text-[10px] text-text text-opacity-30 bg-text bg-opacity-10 py-[3px]">
                        thread.net</div>
                </div>
                <div class="content text-sm">
                    Fullstack Web Developer <br>
                    Ui/Ux Designer <br>
                    Cross Platform app Developer <br>
                    And a Engineer...
                </div>
                <span class="flex gap-2 mt-3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGb8PmEaRgeXshs4ycQC8wyYl8h6RffDbg-A&usqp=CAU"
                        class="w-[24px] h-[24px] rounded-full border-2 border-background-dark" alt="">
                    <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
                        class="w-[24px] h-[24px] rounded-full -ml-5 border-2 border-background-dark" alt="">
                    <span class="text-sm text-text text-opacity-40">15 followers</span>
                </span>
            </div>
            <div class="right">
                <img src="https://scontent.frrk1-1.fna.fbcdn.net/v/t39.30808-1/301631983_1335605797209865_876411182519165334_n.jpg?stp=dst-jpg_p160x160&_nc_cat=102&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=l74AyzR3YGQAX85Vpgf&_nc_ht=scontent.frrk1-1.fna&oh=00_AfDJp2E2v_Adhl0yh6PNMUkdRkepFvz7bk2JA18ELWND3w&oe=64BF92D8"
                    class="w-[55px] h-[55px] rounded-full" alt="">
            </div>
        </main>
        <div class="flex justify-between w-[550px] max-w-[100vw] mt-4 px-5">
            <div
                class="follow border-[1.8px] border-background-light border-opacity-20 h-[30px] md:px-14 px-9 py-4 flex items-center justify-center rounded-lg text-text">
                Edit Profile</div>
            <div
                class="follow border-[1.8px] border-background-light border-opacity-20 h-[30px] md:px-14 px-9 py-4 flex items-center justify-center rounded-lg text-text">
                Share Profile</div>
        </div>
        <div class="content w-[550px] max-w-[100vw]"></div>
    </div>
</div>